body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1{
    text-decoration: none;
    padding: 10px auto;
}

.mar{
margin: 0;
}

.header{
    display: inline;
    margin: 0 auto;
    padding-top: 8px;
    justify-content: space-between;
    align-items: center;
}

.under{
    text-decoration: underline;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    margin-right: 150px ;
}

.navbar a{
    color: yellow;
    text-decoration: none;
    margin: 1.5rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    border-style: 2px solid black;
}

.navbar a:hover{
    color: red;
}

.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.Home {
    position: relative;
   /* color: white;
     background-color: RGB(32, 33, 36); */
     background-color: #4158D0;
     background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100vh;
    width: 100%;
    font-weight: 400;
    position: relative;
}

.name{
    margin-top: 13%;
    margin-left: 8%;
}

.name h1{
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.txtbig{
    font-size: 1.5rem;
}

.Button{
    background-color: yellow;
    margin-left: 8%;
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
    font-weight: bold;
    font-size: 1rem;
}

.Button:hover{
    border-color: yellow;
    background-color: transparent;
    color: white;
}

.image:hover .shape{
    bottom: 40px;
}

.image:hover .myimage{
    left: 45%;
}

ion-icon {
    color: white;
    margin: 2%;
    margin-top: 8%;
    font-size: 32px;
}

.social{
    margin-left: 6%
}

ion-icon:hover{
    color: orange;
    transition: color 0.3s;
}













@media screen and (max-width: 1300px)
{
    .image{
        height: 0;
        width: 0;
        transition: 1s ease-in-out;
    }
}


@media screen and (max-width: 700px) {
    .Home{
        height: 101vh;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .image{
        bottom: 0;
        height: 0;
        width: 0;
    }
    .name{
        margin-top: 20%;
    }
    .name h1{
        font-size: 1.8rem;
    }

    .txtbig{
        margin-top: 50px;
        font-size: 1.3rem;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
        margin-top: 12px;
    }
    .navbar a{
        margin: 0.5rem;
        margin-left: 0.5rem ;
    }

    .ion-icon{
        font-size: 16px;
    }

    .social{
        margin-top: 20px;
    }
    .Button{
        margin-top: 20px;;
    }

    .name p{
        margin-top: 40px;
        margin-right: 20px;
    } 
  }



